{% extends 'base.html.twig' %}

{% block title %}Fetch article id{% endblock %}

{% block body %}
    <div id="articles"></div>
    <div id="error"></div>
        <script src="{{ asset('asset/script/fetch2.js') }}"></script>
{% endblock %}