{% extends 'base.html.twig' %}

{% block title %}Fetch articles{% endblock %}

{% block body %}
    <div id="articles"></div>
    <div id="error"></div>
    
        <script src="{{ asset('asset/script/fetch.js') }}"></script>
{% endblock %}
