{% extends 'base.html.twig' %}

{% block title %}Fetch articles{% endblock %}

{% block body %}
    <div id="error"></div>
        <script src="{{ asset('asset/script/token.js') }}"></script>
{% endblock %}